@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    ESTIMADO UTILIZADOR, 
    PEDIDOS IMENSAS DESCULPAS PELOS TRANSTORNOS PROVOCADOS E O INFORMAMOS QUE DESTA VEZ NÂO FOI POSSÍVEL ATENDER AO SEU PEDIDO.
    POR FAVOR VOLTE A TENTAR MAS TARDE OU CONTACTE O ADMISNITRADOR DE SISTEMAS.
</h2>

